*~
*.pyc
.idea
output
annotations
/training_validation_test/
*.record
Transcripts
data
/classification/
/build/
/dist/
/tensorflow_object_detection.egg-info/
/object_detection.egg-info/
BUILD
anchors-*.png
/dimension_clustering_protocol.txt
/frozen_inference_graph.pb
*.h5